body {
  background-image: url('/Users/MattAlon/projects/project-one/northpole.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 99%;
}
#gameTitle {
  text-align: center;
  font-size: 88px;
  color: black;
  text-shadow: 1px 1px white;
}
#scoreboard {
  height: 205px;
  width: 200px;
  border: 5px dashed red;
  border-radius: 15%;
  text-align: center;
  font-size: 20px;
  float: left;
  margin-left: 10px;
}
#scoreboard2 {
  height: 205px;
  width: 200px;
  border: 5px dashed red;
  border-radius: 15%;
  text-align: center;
  font-size: 20px;
  float: right;
  margin-right: 25px;
}
#catcher {
  height: 20px;
  width: 150px;
  /*border: 1px solid black;*/
  position: absolute;
  bottom: 0;
  top: 700px;
  left: 46%;
}
#timer1 {
  color: #40CAAB;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
#timer2 {
  color: #40CAAB;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
#score1 {
  color: #40CAAB;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
#score2 {
  color: #40CAAB;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
#winner {
  text-align: center;
  font-size: 111px;
  color: black;
  text-shadow: 1px 1px white;
}
.navbar {
  width: 98%;
}
ul {
  width: 100%;
  background-color: #C1C8C7;
}
a {
  text-decoration: none;
  color: #6FF0C3;
}
a:hover {
  color: white;
  background: rgba(0,0,0,0.3);
}
li {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.hundreds {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
}
.droppinCoal {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
}
.droppinClock {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
}
.droppinDiv {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
}
.snowflake {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
}
.snowflakeImg {
  height: 50px;
  width: 50px;
}
.coal {
  height: 50px;
  width: 50px;
}
.northpole {
  height: 100%;
  width: 100%;
}
.present {
  height: 75px;
  width: 75px;
}
.clock {
  height: 50px;
  width: 50px;
}
.bomb {
  height: 50px;
  width: 50px;
}
.santa {
  width: 150px;
  vertical-align: bottom;
}
.start {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: #C1C8C7;
  color: #6FF0C3;
  position: relative;
  top: 50px;
  left: 33%;
}
.start:hover {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  color: white;
  box-shadow: 2px 1px 2px 1px black;
}
.elf {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
h1 {
  margin: 0 auto;
  color: lightgrey;
  text-shadow: 1px 1px black;
}
