html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
}
#scoreboard {
  height: 205px;
  width: 200px;
  border: 2px solid #b3b3b3;
  border-radius: 15%;
  text-align: center;
  font-size: 20px;
  float: right;
}
#container1 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  padding-bottom: 200px;
  margin-left: 547px;
  top: 27px;
}
#container2 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  top: 27px;
  left: 8px;
  padding-bottom: 200px;
  margin-left: 650px;
}
#container3 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  top: 27px;
  left: 111px;
  padding-bottom: 200px;
  margin-left: 650px;
}
#container4 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  top: 27px;
  left: 214px;
  padding-bottom: 200px;
  margin-left: 650px;
}
#container5 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  top: 27px;
  left: 317px;
  padding-bottom: 200px;
  margin-left: 650px;
}
#catcher {
  height: 20px;
  width: 100px;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  background: lightgrey;
}
#timer {
  color: teal;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
#score {
  color: teal;
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  font-size: 50px;
}
.droppinDiv {
  height: 50px;
  width: 50px;
  background: teal;
  display: block;
  position: absolute;
  margin-left: 25px;
}
.moveLeft {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  top: 50px;
}
.moveRight {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  top: 50px;
}
.start {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgrey;
  color: teal;
  position: relative;
  top: 222px;
  left: 1515px;
}
.start:hover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  box-shadow: 1px 1px 1px 1px black;
}
.moveLeft {
  position: relative;
  height: 50px;
  width: 75px;
  top: 725px;
  left: 705px;
  font-size: 20px;
  color: teal;
  font-weight: bold;
  border-radius: 10%;
}
.moveRight {
  position: relative;
  height: 50px;
  width: 75px;
  top: 725px;
  left: 725px;
  font-size: 20px;
  color: teal;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 10%;
}
.moveLeft:hover {
  color: white;
  text-shadow: 1px 1px 1px 1px black;
}
.moveRight:hover {
  color: white;
  text-shadow: 1px 1px 1px 1px black;
}
h1 {
  margin: 0 auto;
  color: lightgrey;
  text-shadow: 1px 1px black;
}
