html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
}
#container1 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  padding-bottom: 200px;
}
#container2 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  top: 27px;
  left: 111px;
  padding-bottom: 200px;
}
#container3 {
  position: absolute;
  height: 555px;
  width: 101px;
  /*border: 1px solid black;*/
  display: inline-block;
  top: 27px;
  left: 214px;
  padding-bottom: 200px;
}
#catcher {
  height: 20px;
  width: 100px;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}
.droppinDiv {
  height: 50px;
  width: 50px;
  background: red;
  display: block;
  position: relative;
  margin: 0 auto;
}
.moveLeft {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  top: 50px;
}
.moveRight {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  top: 50px;
}
